@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --nav-height: 10dvh;
  --bg-col: #523c24;
}

html,
body {
  width: 100dvw;
  height: 100dvh;
  background-color: var(--bg-col);
}

* {
  margin: 0px;
  padding: 0px;
  font-family: "Red Hat Display", sans-serif;
  overflow-x: hidden;
}

@media (max-width: 642px) {
  header > h1 > span {
    left: -500px;
  }

  header > h1 > img {
    left: 5dvh;
  }
}

@media (min-width: 643px) {
  header > h1 > span {
    left: 5dvh;
  }

  header > h1 > img {
    left: calc(5dvh + 200px);
  }
}

header {
  padding-left: 5dvh;
  color: #fff;
  width: 100dvw;
  height: var(--nav-height);
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: var(--bg-col);
  vertical-align: middle;
  z-index: 1;
}

.header {
  padding-left: 5dvh;
  width: 100dvw;
  height: var(--nav-height);
  top: 0px;
  left: 0px;
  background-color: var(--bg-col);
  vertical-align: middle;
}

header > h1 > span {
  position: absolute;
  top: calc(var(--nav-height) / 2);
  transform: translateY(-50%);
  transition: left 1s;
}

header > h1 > img {
  position: absolute;
  top: calc(var(--nav-height) / 2);
  transform: translateY(-50%);
  transition: left 1s;
}

header > h2 {
  position: absolute;
  top: calc(var(--nav-height) / 2);
  left: 50%;
  transform: translate(-50%, -50%);
}

.nav-toggle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 22px;
  width: 22px;
  position: absolute;
  top: calc(var(--nav-height) / 2);
  left: 95dvw;
  transform: translate(-100%, -50%);
  z-index: 3;
}

.nav-toggle .bar {
  height: 3px;
  width: 100%;
  background-color: #fff;
  transition: all 100ms ease-in-out;
  z-index: 3;
}

.nav-toggle:hover {
  cursor: pointer;
}

.x:nth-of-type(1) {
  transition: all 100ms ease-in-out;
  transform: rotate(45deg);
  transform-origin: top left;
  width: 28px;
}

.x:nth-of-type(2) {
  transition: all 100ms ease-in-out;
  transform-origin: center;
  width: 0px;
}

.x:nth-of-type(3) {
  transition: all 100ms ease-in-out;
  transform: rotate(-45deg);
  transform-origin: bottom left;
  width: 28px;
}

header > div {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: var(--bg-col);
  position: fixed;
  top: var(--nav-height);
  left: 100dvw;
  transform: translateX(-100%);
  width: 100px;
  height: 0px;
  transition: padding 0.25s, height 0.25s, line-height 0.25s;
  overflow: hidden;
  border-bottom-left-radius: 5px;
  line-height: 1;
  z-index: 3;
}

header > div.open {
  padding: 20px;
  height: 130px;
  line-height: 1.4;
}

header > div > a {
  text-decoration: none;
  color: #fff;
  display: block;
  font-size: 20px;
}

header > div > hr {
  border: 0.5px solid #fff;
}
